body{
    background-color: lightblue;
}

.navbar{
    background-color: darkgreen;
}

.container-fluid{
    background-color: lightgreen;
    color: black;
}

footer{
    background-color: yellow;
}

.profile-pic{
    image-orientation: right;
    text-align: center;
}